.personalDetails-Container {
    background-color: white;
    border-radius: 5px;
    grid-area: "personalDetails";
    padding: 0 10px 10px 10px;
}

.personalDetails-Container h1{
    margin-top: 0;
}

input {
    width: 90%;
    border-radius: 5px;
    background-color: #f3f4f6;
    padding: 7px 0;
    border: none;
}

.education-Container {
    background-color: #f3f4f6;
    border-radius: 5px;
    grid-area: "education";
    /* padding: 0 10px 10px 10px; */
}

.educationButton {
    width: 100%;
    text-align: left;
    border: none;
    background-color: white;
    cursor: pointer;
}

.education-Form-Container {
    background-color: white;
}

.displayedSchoolButtons {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 0;
    text-align: left;
    margin-bottom: 5px;
    cursor: pointer;
}

.experience-Container {
    background-color: white;
    border-radius: 5px;
    grid-area: "education";
    padding: 0 10px 10px 10px;
}

